disk_monitoring_workflow.json
{
  "name": "Azure VM Disk Usage Monitoring with Jira Integration",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse incoming webhook data\nconst diskData = $input.first().json;\nconst body = diskData.body || diskData;\n\n// Extract server information\nconst serverName = body.server_name || 'Unknown Server';\nconst serverIp = body.server_ip || 'Unknown IP';\n\nconst rawOs = (body.os_type || body.os || body.platform || '').toString().toLowerCase();\nlet osType = 'linux';\nif (rawOs.includes('win')) osType = 'windows';\nelse if (rawOs.includes('darwin') || rawOs.includes('mac')) osType = 'macos';\nelse if (rawOs.includes('wsl')) osType = 'linux';\nelse if (rawOs) osType = rawOs;\n\n// Process each disk\nlet output = [];\n\nif (body.disks && Array.isArray(body.disks)) {\n  body.disks.forEach(disk => {\n    const usagePercent = Number(disk.usage_percent) || 0;\n    const mountpoint = disk.mountpoint || disk.device || 'Unknown';\n    \n    // Determine priority based on usage\n    let priority = 'Normal';\n    if (usagePercent > 90) {\n      priority = '1';\n    } else if (usagePercent > 80) {\n      priority = '2';\n    }\n    \n    output.push({\n      json: {\n        server_name: serverName,\n        server_ip: serverIp,\n        os_type: osType,\n        mountpoint: mountpoint,\n        device: disk.device || 'N/A',\n        total_gb: Number(disk.total_gb) || 0,\n        used_gb: Number(disk.used_gb) || 0,\n        free_gb: Number(disk.free_gb) || 0,\n        usage_percent: usagePercent,\n        priority: priority,\n        timestamp: disk.timestamp || new Date().toISOString(),\n        requires_action: usagePercent > 75\n      }\n    });\n  });\n} else {\n  // Handle case where no disk data is present\n  output.push({\n    json: {\n      server_name: serverName,\n      server_ip: serverIp,\n      error: 'No disk data received',\n      timestamp: new Date().toISOString(),\n      requires_action: false\n    }\n  });\n}\n\nreturn output;"
      },
      "id": "1079faa1-8525-4206-9298-5ffe7b1d6f6b",
      "name": "Parse Disk Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Jira ticket details for ALL items\nconst items = $input.all();\n\nconst formattedItems = items.map(item => {\n  const summary = `${item.json.server_name} (${item.json.server_ip}) - ${item.json.mountpoint} space usage at ${item.json.usage_percent}%`;\n\n  const description = `\n**Disk Space Alert**\n\n**Server Details:**\n- Server Name: ${item.json.server_name}\n- IP Address: ${item.json.server_ip}\n- OS Type: ${item.json.os_type}\n\n**Disk Information:**\n- Mount Point: ${item.json.mountpoint}\n- Device: ${item.json.device}\n- Total Space: ${item.json.total_gb} GB\n- Used Space: ${item.json.used_gb} GB\n- Free Space: ${item.json.free_gb} GB\n- Usage Percentage: ${item.json.usage_percent}%\n\n**Alert Details:**\n- Priority: ${item.json.priority}\n- Timestamp: ${item.json.timestamp}\n- Threshold: >75% usage\n\n**Required Action:**\nPlease investigate disk space usage and take appropriate action to free up space.\n\nThis alert was automatically generated by the Azure VM Disk Monitoring System.\n`;\n\n  return {\n    json: {\n      summary: summary,\n      description: description,\n      priority: item.json.priority,\n      server_name: item.json.server_name,\n      server_ip: item.json.server_ip,\n      mountpoint: item.json.mountpoint,\n      usage_percent: item.json.usage_percent,\n      labels: ['disk-space', 'azure-vm', 'automated-alert'],\n      components: ['infrastructure', 'monitoring'],\n      customfield_10000: item.json.timestamp // Custom field for alert timestamp\n    }\n  };\n});\n\nreturn formattedItems;"
      },
      "id": "ec6d6209-1f8a-4328-977e-e11ba60e5fda",
      "name": "Format Jira Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -64
      ]
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10046",
          "mode": "list",
          "cachedResultName": "Claritas NextGen"
        },
        "issueType": {
          "__rl": true,
          "value": "10002",
          "mode": "list",
          "cachedResultName": "Task"
        },
        "summary": "={{ $json.summary }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "5b19510b4d941a51f0da4e9d",
            "mode": "list",
            "cachedResultName": "Harry Valdez"
          },
          "description": "={{ $json.description }}",
          "priority": {
            "__rl": true,
            "value": "={{ $json.priority }}",
            "mode": "id"
          }
        }
      },
      "id": "ae2e720e-758f-481b-a40f-f8a7d8bb12c1",
      "name": "Create Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ],
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "C8eorZBCxmLB2qld",
          "name": "Jira SW Cloud account 23"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Log successful Jira ticket creation\nconst item = $input.first().json;\n\nconsole.log('Jira ticket created successfully:');\nconsole.log('Server:', item.server_name);\nconsole.log('Mount Point:', item.mountpoint);\nconsole.log('Usage:', item.usage_percent + '%');\nconsole.log('Priority:', item.priority);\n\nreturn $input.all();"
      },
      "id": "7916b9ff-41dc-471c-a83d-3fed5d5a75f3",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log normal disk usage (below threshold)\nconst items = $input.all();\n\nitems.forEach(item => {\n  if (!item.json.requires_action) {\n    console.log('Normal disk usage:');\n    console.log('Server:', item.json.server_name);\n    console.log('Mount Point:', item.json.mountpoint);\n    console.log('Usage:', item.json.usage_percent + '%');\n  }\n});\n\nreturn items;"
      },
      "id": "71fa1ddc-e0dd-4c12-9700-0004f6188ad8",
      "name": "Log Normal Usage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e3e0877-dc32-495b-8515-3b497c696bd0",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "disk-monitor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ccad30a1-54ed-4a2e-8835-934517856299",
      "name": "Disk Monitor Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        32
      ],
      "webhookId": "disk-monitor-webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.requires_action.toString() }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b2ff479-2a1a-42c6-a684-798c7a0f53a2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "True"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3967c3f-5225-422d-b2e5-1e7eed1d6e7f",
                    "leftValue": "={{ $json.requires_action.toString() }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "False"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -496,
        32
      ],
      "id": "11fe195f-35a6-41d4-8d7e-0d290a6a30fc",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Disk Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Jira Ticket": {
      "main": [
        [
          {
            "node": "Create Jira Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Jira Ticket": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Normal Usage": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disk Monitor Webhook": {
      "main": [
        [
          {
            "node": "Parse Disk Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Format Jira Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Normal Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7073c6b7-433b-48db-8c9a-88f53c0c6be7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "506d52014ca7191c4e55369401e3d9bc4b613f6675bc608609ca5972bfe8aa2f"
  },
  "id": "4aOLKLHwPhxkmxWk",
  "tags": [
    {
      "createdAt": "2025-11-07T19:04:27.228Z",
      "updatedAt": "2025-11-07T19:04:27.228Z",
      "id": "39zSveHVMUk5WwZ1",
      "name": "Azure Monitoring"
    },
    {
      "createdAt": "2025-11-07T19:04:27.293Z",
      "updatedAt": "2025-11-07T19:04:27.293Z",
      "id": "H6Py0Ul1hjrL80xs",
      "name": "Jira Integration"
    },
    {
      "createdAt": "2025-11-07T19:04:27.267Z",
      "updatedAt": "2025-11-07T19:04:27.267Z",
      "id": "bNDpNZc46cvQBy2C",
      "name": "Disk Usage"
    }
  ]
}
